body {
    margin: 0;
    background-color: black;
}

div {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0px;
    margin: 0;
}

#str8 {
    width: 50vw;
}

#false {
    width: 50vw;
}

#kinjaz {
    width: 50vw;
}

#playground {
    width: 50vw;
}