@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap');

body {
    background-color: lightyellow;
}

h1 {
    font-family: 'arapey';
    font-size: 4.5vw;
    color: #62C400;

    text-decoration: underline;
    text-decoration-thickness: 5%;

    text-align: center;
}

h2 {
    font-family: 'arapey';
    color: #AEAA7C;

    text-align: center;

    margin-top: -50px;
}

div {
    font-size: 1.8vw;

    margin-top: 50px;
}

.assignment {
    font-family: 'arapey';
    color: #62C400;
    text-decoration: none;
}