@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,600;0,700;1,600&family=Martel:wght@400;600&display=swap');

#nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-text {
    font-family: martel, serif;
    font-weight: 600;
    font-size: 18px;
}

#back {
    transform: skewX(15deg);
}

h1 {
    font-family: cabin, sans-serif;
    font-weight: 700;
    font-size: 80px;

    margin-left: 55%;
}

p {
    font-family: martel, serif;
    font-weight: 600;
    font-size: 16px;
}

div {
    text-align: justify;
    margin: auto;
    width: 60%;
}