body {
    margin: 0;
    background-color: #F6F7F3;
}

h1 {
    font-family: freightbigcmp-pro, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 10em;
    text-align: center;

    margin-top: 2%;

    color: #3E8632;
}

h2 {
    font-family: helvetica;
    color: #DF7575;
    font-size: 2em;
    font-weight: 400;

    margin-left: 2%;
}

/*add this to hide our placeholder */
.hidden {
  display: none !important;
}

.shelf {
    border-bottom: 10px solid black; 
    margin-bottom: 2em; 
    display: flex;
    align-items: flex-end;
}

.shelf .book-spine {
  background: #20251F;
  color: #F6F7F3;
  height: 300px;
  width: 250px;
  padding: 10px;
  margin-bottom: 2px;
  margin-right: 2px; 
/*   height: 300px;
  width: fit-content; 
  padding: 10px 0px; 
  transform: rotate(180deg);
  writing-mode: vertical-lr; */
  line-height: 30px;
  font-size: 16px;
  cursor: pointer;
}


.shelf .book-spine.active {
  background: #DF7575;
}

.shelf .book-spine:hover {
  background: #3E8632;
}

book detail is CSS that pertains to the details that will show when we click on a book 
.book-detail {
  display: flex;
  margin-top: 30px;
}

.book-detail .figure {
  width: 400px;
  flex: none;
  margin-left: 50px;
}

.book-detail .cover-image {
  width: 100%;
/*   border: 5px solid black; */
  padding: 5px;
  box-sizing: border-box;
}

.book-detail .info {
  max-width: 700px;
  margin-left: 40px;
}

.book-detail .title {
  font-family: freightbigcmp-pro, serif;
  font-size: 64px;
  text-transform: uppercase;
  margin-top: 0;
}

.book-detail .description {
  font-family: helvetica;
  margin-top: 0.5em;
  margin-left: 20px;
  font-size: 28px;
  line-height: 1.5;
}

/* make it responsive */
@media (max-width: 600px) {
  .book-detail {
    flex-direction: column;
  }
  .book-detail .figure {
    width: 100%;
    max-width: 300px;
    margin: auto;
    margin-bottom: 2em;
  }
}