@font-face {
    font-family: redaction-bold;
    src: url(/fonts/redaction/Redaction_2_001/OTF/Redaction-Bold.otf);

    font-family: redaction-italic;
    src: url(/fonts/redaction/Redaction_2_001/OTF/Redaction-Italic.otf);

    font-family: redaction-regular;
    src: url(/fonts/redaction/Redaction_2_001/OTF/Redaction-Regular.otf);
}

body {
    margin: 0;
    background-color: #FAF9F3; 
}

aside {
    width: 20vw;
    xbackground-color: paleturquoise;

    position: fixed;
    margin-left: 1%;
}

.header {
    margin-top: -10%;
}

h1 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 15em;
    line-height: 0em;
    text-justify: justify;

    color: #151313;
}

h2 {
    font-family: redaction-italic;
    font-weight: 400;
    font-size: 13em;
    line-height: 2em;
    text-transform: none;
    font-weight: lighter;

    margin-left: 25%;
    line-height: 0.5em;
}

#ta {
    xmargin-left: 68%;
}

.sorting {
    position: fixed;
    bottom: 0;
    
    font-family: redaction-italic;
    font-weight: 400;
    font-size: 1.8em;
    line-height: 0.4;
}

#container {
    width: 70%;
    position: absolute;
    right: 0;
}

img {
    width: 400px;
    xheight: 600px;
    object-fit: contain;
    border: #FAF9F3 solid 10px;
}

button {
    font-family: redaction-regular;
    font-size: 1em;
    background-color: #FAF9F3;
    border: none;
}

button:hover {
    font-family: redaction-italic;
}

button:focus {
    font-family: redaction-bold;
    font-size: 1.5em;
    transform: skewX(-20deg);
}
