@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

body {
    background: #0F0F0F;
    color: #00FF1A;
    font-family: 'fira code';

    margin: 2em;
}

p {
    font-size: 2em;
    text-align: center;
}

#block {
    width: 100vw;
}

.container {
    text-align: center;
}

.button {
    font-family: 'fira code';
    font-weight: 500;
    font-size: 6em;
    color: white;

    background-color: transparent;
    border: none;
}

.button:hover {
    color: #00FF1A;
}

.rule {
    color: #00FF1A;
    font-weight: 400;
    font-size: 2.5em;

    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .10em solid #00FF1A; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .6s step-end backwards;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #00FF1A }
  }