@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

body {
    background: #0F0F0F;
    padding-top: 25em;
    margin: 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'fira code';
    color: #00FF1A;
  }
  
.typewriter h1 {
    font-weight: 400;
    font-size: 10em;

    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .10em solid #00FF1A; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .6s step-end infinite;
}
  
  /* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #00FF1A }
  }

a {
    font-weight: 300;
    font-size: 2em;
    text-align: center;
}

a:visited {
    color: #00FF1A;
}