@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');

body {
    overflow: hidden;
}

h1 {
    font-family: syncopate, sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 7.8em;
    text-align: center;
}

div {
    font-family: roboto, sans-serif;
    font-size: 1.5em;

    margin-top: 5%;
}

#one {
    width: 50%;
    animation: slide-in-1 6s forwards;
}

@keyframes slide-in-1 {
    from {
        margin-left: 70%;
        filter: blur(20px);
    }

    to {
        margin-left: 26%;
        filter: blur(0px);
    }
}

#two {
    width: 50%;
    margin-left: 50%;
    animation: slide-in-2 4s forwards;
    animation-delay: 5s;

    filter: blur(20px);
}

@keyframes slide-in-2 {
    from {
        margin-left: 50%;
        filter: blur(20px);
    }

    to {
        margin-left: 26%;
        filter: blur(0px);
    }
}

#three {
    width: 50%;
    animation: slide-in-3 5s forwards;
    animation-delay: 6s;

    filter: blur(20px);
}

@keyframes slide-in-3 {
    from {
        margin-left: 0%;
        filter: blur(20px);
    }

    to {
        margin-left: 26%;
        filter: blur(0px);
    }
}

#four {
    width: 50%;
    margin-left: 65%;
    animation: slide-in-4 7s forwards;
    animation-delay: 9s;

    filter: blur(20px);
}

@keyframes slide-in-4 {
    from {
        margin-left: 65%;
        filter: blur(20px);
    }

    to {
        margin-left: 26%;
        filter: blur(0px);
    }
}

button {
    font-size: 0.8em;

    margin-top: 2%;
    margin-left: 49%;

    animation: appear 5s forwards;
    animation-delay: 16s;
    visibility: hidden;
}

@keyframes appear {
    from {
        visibility: hidden;
    }

    to {
        visibility: visible;
    }
}