@import url('https://fonts.googleapis.com/css2?family=Redressed:wght@400&family=Syncopate:wght@700&display=swap');

h1 {
    font-family: syncopate, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 7.8em;
    text-align: center;
}

div {
    width: 50%;
    margin: auto;
}

p {
    font-family: roboto, sans-serif;
    font-size: 3em;
    font-weight: 400;
    line-height: 1.2em;
}

#one {
    color: #00EAFF;
}

#two {
    color: #FF0000;
}

#three {
    color: #FF00FB;
}

#four {
    color: #FF8F00;
}

.num {
    font-size: 1em;
}

.num:hover {
    font-size: 2em;
    font-weight: bold;
}

.excl {
    color: #D1F200; 
}

.excl:hover {
    font-size: 4em;
    font-weight: bold;
}

a {
    color: #D1F200;
}