@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');

body {
    margin: 0;
}

h1 {
    font-family: syncopate, sans-serif;
    font-weight: 700;
    font-size: 7.8em;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;

    margin-top: 22%;
}

div {
    font-family: roboto, sans-serif;
    font-size: 6.7em;
    text-align: center;

    margin-top: 25%;
    height: 1100px;
    width: 100%;

    background-color: black;
}

a {
    color: white;


    margin-top: 20%;

    position: absolute;
}

a .cure {
    margin-left: -100%;
}

a .start {
    display: none;
}

a:hover .cure {
    display: none;
}

a:hover .start {
    display: inline;
    margin-left: -100%;
}

section {
    text-align: center;
}