@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');

body {
    font-family: syncopate, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: justify;
}

h1 {
    font-family: syncopate, sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 7.8em;
    text-align: center;
}

.desc {
    font-size: 5em;
    opacity: 25%;
}

.text {
    font-size:7.8em;
    line-height: 0.75em;

    margin-top: -3.5%;
}

a {
    text-decoration: none;  
}

a:hover {
    color: black;
}

#adhd {
    color: purple;
}

#autism {
    color: lightcoral;
}

#learning {
    color: crimson;
}

#sleep {
    color: chartreuse;
}

#dep {
    color: fuchsia;
}

#anxiety {
    color: teal;
}

#pain {
    color: yellow;
}

#anger {
    color:aqua; 
}