@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');

body {
    margin: 0;
}

h1 {
    font-family: syncopate, sans-serif;
    font-weight: 700;
    font-size: 7.8em;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;

    margin-top: 22%;
}

div {
    font-family: roboto, sans-serif;
    font-size: 7em;

    margin-top: 25%;
    height: 1100px;

    background-color: black;
}

p {
    color: white;
    opacity: 25%;

    text-align: center;
    padding-top: 20%;
}